# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

# CocoaPods (au cas où)
Pods/

# Carthage
Carthage/Build/
